body {
  background-color: #333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: white;
}

.panelElem {
  border: 1px solid #444;
  justify-content: space-between;
  width: 150px;
  padding: 3px;
  margin: 3px;
}

.panelElem input {
  width: 140px;
  background-color: #eee;
}

.readOut {
  font-size: 12px;
  align-self: center;
}

.readOut input {
  width: 32px;
  text-align: right;
  color: #d60000;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 12px;
  border: none;
  background-color: #222;
}

.readOut input:focus {
  outline: none;
  background-color: #eee;
}

.a-frame-scene-box {
  height: 500px;
  width: 100%;
}
